apiVersion: apps/v1
kind: Deployment
metadata:
  name: apache
spec:
  replicas: 2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  selector:
    matchLabels:
      app: apache
  template:
    metadata:
      labels:
        app: apache
    spec:
      containers:
      - name: apache
        image: kanban-app:1.0
        ports:
        - containerPort: 80
